<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <div class="left">
            <p>This tool is made for forecasting prices on computers basing on ML models</p>
            <div class="drag-drop_area" id="drag_drop_area_id">
                drag&drop your .csv file here
            </div>

        </div>

        <div class="right" id='result'>
            <a>Result</a>
            <p></p>
        </div>
    </div>

    <script src="static/js/drag_drop.js"></script>
</body>
</html>
